.degradado {
    background: linear-gradient(to right, #5E107A , #000);
}

.box {
    border-top: 10px solid transparent;
}

.map-container {
    position: relative;
    z-index: 0; /* Asegura que el mapa esté detrás del carrusel */
  }

.prueba{
    height: "500px";
    width: "100%";
}
